/* ===========================
   fonts.scss
   =========================== */

$font-family-sans-serif-arial: Arial, Helvetica, sans-serif;
$font-family-sans-serif-helvetica: Helvetica, sans-serif;
$font-family-sans-serif-verdana: Verdana, Geneva, sans-serif;
$font-family-serif-georgia: Georgia, serif;
$font-family-serif-times: "Times New Roman", Times, serif;
$font-family-monospace-courier: "Courier New", Courier, monospace;

//////////////////////////////
////  VARIABLES TO FONTS  ////
//////////////////////////////
